@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
   --mainBg: #f0e7db;
   --headerBg: #ffffffd1;
   --borderColor: #d7d7d7;
   --textColor: #424242;
   --primary: #4bb790;
   --cardBg: #ffffff;
   --tagBg: #dcdbdb;
   color-scheme: light;
}

.dark {
   --mainBg: #202023;
   --headerBg: #00000069;
   --borderColor: #3e3b3b;
   --textColor: #dddddd;
   --primary: #69dfb5;
   --cardBg: #363535;
   --tagBg: #4e4b4b;
   color-scheme: dark;
}

@layer utilities {
   .lineClamp-2 {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
   }
}

/* --------custom scrollbar ------------ */

::-webkit-scrollbar {
   width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: #4bb790;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #3f9e7b;
}
